body{
    background-color: aqua;
}

table th, table td{
    border: 2px solid yellowgreen;
    padding: 5px;
}

table{
    border-collapse: collapse;
    width: 100%;
}

caption{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

table