body{
    background: cyan;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

form{
    background: #ccc;
    display: flex;
    flex-flow: column wrap;
    padding: 40px;
    border-radius: 10px;
}

input{
    width: 90%;
    height: 30px;
    margin-top: 15px;
    padding: 10px;
    margin-bottom: 15px;
}

textarea{
    width: 90%;
    margin-top: 15px;
    padding: 10px;
    margin-bottom: 15px;
}

.container{
    background: green;
    color:white
}

.reset{
    background: green;
    color:white;
}