*{
    width: 0;
    height:0
}

body{
    background-color: red;
    font-family: Arial, Helvetica, sans-serif;
}

h1{
    background-color: blue;
    width: 300px;
    height: 300px;
    border: 10px solid black;
    border: lefet;
}

.treinamento{
    background-color:green;
    width: 700px;
    height: 600px;
    text-align: center;
    display: flex;
    ju
    border:10px solid beige;
    border:center;
}





