
section{
  border: 1px solid black;
  border-radius: 10px;
}

#tabela-produtos {

  width:  95%;
  /*border: 1px solid black;*/
  margin: 10px 0 10px  10px;
  border-collapse: collapse;           /*Faz as bordas colapsarem */
  cursor: default;
}



#tabela-produtos th {
  background: #999;
  color: black;
  padding: 10px;
  text-align: left; 
  border-bottom: 1px solid black;
}

#tabela-produtos td{
  padding: 5px;
  border-bottom: 1px solid black;
}

#tabela-produtos tbody tr:hover{
  background: yellow;
  color: black;
  padding: 5px;
  border-bottom: 1px solid black;
}