body{
    background-color: #ffb3d1;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 18px;
    color: #000000;
}

h1{
    background: #e6005c;
    width: 31vh;
}