*{
    margin: 0;
    padding: 0;
}

body{
    background-color: #6f6b6b;
}

.vilmar-01{
    background: gray;
    width: 100%;
    height: 100px;
}

.vilmar-01{
    background: rgb(69, 5, 220);
    margin: 2%;
    /*list-style: none;*/
    border: 3px solid rgb(233, 156, 13);
}



.vilmar-02{
    display: block;
    /*width: 20%;
    float: left;*/
    text-align: center;
    padding: 2%;
    border: 4px solid blue;
}

h1{
    max-width: 900px;
    height: 50px;
    /*padding: 10px;*/
    /*padding-top: 20px;
    padding-right: 20px;
    padding-left: 20px;
    padding-bottom: 20px;*/
    color: #fff;
    border-radius: 30px;
    text-align: center;
    background: #e50202;
    /*margin-top: 30px;
    margin-right: 70px;
    margin-bottom: 50px;
    margin-left: 20px;*/
    text-decoration: none;
    margin: 20px 70px 20px 20px;
    padding: 20px 20px 40px 20px;
}

h1{
    display: flex;
  justify-content: center; /* Centraliza na horizontal */
  align-items: center;     /* Centraliza na vertical */
  /*height: 100vh;*/          /* Ocupa a altura total da tela (opcional) */
}


h2{
    max-width: 900px;
    height: 50px;
    color: #fff;
    border: 10px solid rgb(233, 156, 13);
    border-radius: 30px;
    text-align: center;
    background: #0f0683;
    margin: 5px 70px 20px 20px;
    padding: 20px 20px 20px 20px;
    text-decoration: none;
}

h1:hover{
    background: #0f0683;
}

h2:hover{
    background: greenyellow;
}

nav{
    background:rgba(0, 0, 0, 0.5);
    /*height: 50px;*/
}

nav{
    display: flex;
    /*justify-content: center;*/
    align-items: center;
}

nav a{
    color: #ffff;
    text-decoration: none;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background: #e50202;
    padding: 20px 20px;
    display: block;
    text-transform: uppercase;
    
}

nav a:hover{
    background: rgb(31, 31, 31.3);
}

nav ul{
    display: flex;
    list-style: none;
    background: rgba(235, 6, 6, 0.2);
    /*margin-left: 10px;*/
}