h1{
    color: darkmagenta;
     background-color: indianred; /* Cor de fundo */
            color: #FFF; /* Cor do texto */
            font-weight: bold; /* Texto em negrito */
            padding: 10px; /* Espaçamento interno */
            border: 1px solid #ccc; /* Borda */
            margin: 10px; /* Espaçamento externo */
    
}

