body{
    background-color: #cc8800;
    font-family: 'Times New Roman', Times, serif;
}

table{
    width: 100%;
    border-collapse: collapse;
    border-f
}

/*
borde-collapse:collapse; => Remove o espaçamento duplo das bordas.



*/