body{
    background-color: #cc8800;
    font-family: 'Times New Roman', Times, serif;
}

table{
    width: 100%;
    border-collapse: collapse;
    font-family: arial, sans-serif;
    margin: 20px 0;
}

th,td{
    border: 1px solid ;
    padding: 12px;
}

th{
    background-color: #ff3300;
}

/*
borde-collapse:collapse; => Remove o espaçamento duplo das bordas.
padding: => Espaçamento interno.



*/