body{
  background-color: aquamarine;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  
}

caption{
  font-family: sans-serif;
}

table th, table td{
    border: 1px solid rgba(0, 0, 0, 0.6);
    padding: 5px;
    text-align: left;
}

table{
  border-collapse: collapse;
  width: 800%;
}

table th{
  background: #4d94ff;
}

table caption{
  caption-side: bottom;
  text-align: left;
  font-style: italic;
  font-size: 14px;
  margin: 5px 0;
}

tfoot td{
  background: #33ff33;
  font-style: italic;
}

.responsive-table{
      max-width: 100%;
      overflow-x: auto;
}