*{
  margin: 0;
  padding: 0;
}

body{
  font-family: Arial, Helvetica, sans-serif;
  background-color: #33ff99;
}

nav{
  background: rgb(90, 90, 90);
 /* height: 50px;*/
}

nav a {
  color: white;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;      
  background: red;
  padding: 20px;
  display: block;     
  text-transform: uppercase; 
  text-decoration: none;                                                       
}

nav  a:hover {
  background: rgba(0,  0,  0,  0.2);
}

nav{
  display: flex;
 /* justify-content: center*/;
  align-items: center;
}

nav ul{
  display: flex;
  list-style: none;
  /*background: blue;*/
  margin: 10px;
}

/*text-decoration: none; tira o risquinho dos botões quando passa o mause em cima.
text-transform: uppercase; => deixa o texto em maiusculo.
list-style-type: disc; posso list-style-type: none usar este para sumir as bolinhas que é o padrão.
ou posso pegar um atalho e colocar list-style: none; também vai sumir as bolinhas.
*/