body{
  font-family: 'Courier New', Courier, monospace;
  background-color: #E1F5FE;
}

.section-one{
  background-color: deeppink;
  background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRxfmMTgv_fz25To-8BMiiTN6rU-nEZj2H3EmLnV66oiA&s=10);
  background-size: cover;
  background-position: center center;
  width: 200px;
  height: 150px;
  border: 1px solid #ecf9f2;
  padding: 15px;
  color: blue;
  font-family: monospace;
}

.section-two{
  background-color: #ff99dd;
  background-position: center center;
  width: 200px;
  height: 50px;
  border-style: solid;
  border-width: 10px;
  border-bottom-width: 15px;
  border-top-width: 20px;
  border-left-width: 25px ;
  border-right-width: 30px;
  border-bottom-color: firebrick;
  border-top-color: #cc8800;
  border-right-color: green;
  border-left-color: blue;
  padding: 15px;
  color: #E1F5FE;
  margin: 30px;
}