body{
    background-color:  #F0E68C;
}

div{
    width: 400px;
}

header{
    background-color: blue;
    color: white;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
     width: 122px;
    height: 20px;
}

