body{
    background-color: Cornsilk;
}

#container{                                              /*Elemento-pai*/
      display: flex;
      width: 300px;
      height: 200px;
      background-color: blue;
      /*justify-content: center;*/
     /* align-items: center;*/
     /*flex-direction: column;*/
}

.item{
  /*background-color: red;*/
  width: 100px;
  height: 100px;
  /*flex-grow: 1;*/
}

#div-1{
      /*align-self: flex-end;*/
      background-color: red;
      flex-grow: 1;
}

#div-2{
      /*align-self: center;*/
      background-color: green;
      flex-grow: 3;
}