body{
    background-color:MistyRose;
}

.container{                                 /*pai*/
    border: 6px solid blue;
    width: 500px;
    height: 300px;
    display: flex;
}

.container-2{
    border: 2px solid yellow;
    margin: 10px;
    display: flex;
    width: 400px;
    height: 200px;
    position: relative;
}

.box{
    background-color: red;
    width: 100px;
    height: 100px;
    color: white;
    text-align: center;
}

#div-2{
    position: relative;
    /*position: absolute;*/
    /*top: 100px;*/
    left: -1px;
    
}

#div-3{
    position: relative;
    /*left: 200px;*/                    /*Está leva para esquerda*/
    /*right: -10px;*/                         /*Está leva para direita estou tirando -10px para direita*/
}