body {
  background-color: goldenrod;
}

#pai {
  background-color: aqua;
  width: 600px;
  height: 400px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

#pai div {
  width: 100px;
  height: 100px;
  display: inline-block;
}

#filho-1 {
  background-color: ForestGreen;
  width: 100px;
  height: 100px;
  display: block;
}

#filho-2 {
  background-color: IndianRed;
  width: 100px;
  height: 100px;
  display: block;
}

#filho-3{
  background-color: blue;
  width: 100px;
  height: 100px;
  display: block;
}

#filho-4{
  background-color: SaddleBrown;
  width: 100px;
  height: 100px;
  display: block;
}



