body{
      background-color: #F08080;
}

h1{
    background-color: red;
    color: white;
    /*margin: 10px;*/
   /* width: 154px;*/
    width: 400px;
    height: 100px;
    padding: 30px;
    margin: 40px;

    border: 10px  solid  blue;                        /* GROOVE*//*GERAL*/
    border-top: 10px solid #006400;            /*TOPO*/
    border-left:  10px solid #C5A25D;          /*ESQUERDA*/
    border-bottom: 10px solid #A29C92;     /*ABAIXO*/
    border-right: 10px solid #0F172A;          /*DIREITO*/
    border-radius: 10px;                                    /*AREDONDA OS CANTOS*/
    border-style: groove;
    /*border-color: #D02090;*/
    box-sizing: border-box;
    /*border: 10px; solid blue*/                 /*PARA ECONOMIZAR TEMPO POSSO FAZER DESSA MANEIRA*/

}
/*
div{
    background-color: green;
    width: 185px;
    height: 40px;
}
*/

/*
span{
    background-color: #D2691E;
}
    */