*{
  margin: 0;
}

body{
  font: 16px "Arial";
  /*font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;*/
  background-color: #77ff33;
}

header{
  background: grey;
  width: 100%;
  height: 200px;
}

/*Usa-se a tag overflow quando quer colocar barra de rolagem em uma propriedade.*/
nav{
  background: black;
  margin: 2%;
  overflow: auto;  /*hack*/
}

ul{
  list-style: none;
  /*border: 6px solid blue;*/
}

li {
  display: block;
  width: 20%;
  float: left;
  text-align: center;
  padding: 2%;

  /*border: 1px solid #000;*/
}

nav a {
        color: #fff;
        text-transform: uppercase;   /*uppercase todas as letras maiúscula*/ 
        text-decoration: none;  /*text-decoration inclui ou elimina a linha dos botões.*/
}

nav a:hover{  /*A tag hover é para quando eu passar o mause em cima mudar a cor.*/
       color: red;
}